#backgroundAbout {
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    background-position: center 0px;
    margin-bottom: 6%;

    .aboutDesc {
        height: 320px;
        text-align: center;
        padding-top: 7%;

        p {
            &:nth-child(1) {
                font-size: 50px;
                color: #0e0e0e;
                font-family: "Playfair Display", serif;
                font-weight: 400;
                margin-bottom: 3px;

            }

            &:nth-child(2) {
                font-family: "Lora", serif;
                font-size: 17px;
                font-style: italic;
                color: #6d6a6a;
            }

        }


    }
}