#blog-list {
  .blog-card {
    padding: 1%;
    text-align: center;
    width: 395px;
    height: 290px;
    margin-bottom: 39%;
    img {
      margin: 0px;
      width: 100%;
      height: 100%;
    }
    .time {
      position: absolute;
    }
    span {
      position: relative;
      cursor: pointer;
      font-size: 10px;
      letter-spacing: 0.15em;
      -webkit-transition: color 0.3s;
      transition: color 0.3s;
      font-family: Montserrat, sans-serif;
      position: relative;
      z-index: 3;
      padding: 5px;
      z-index: 1;
      top: 48%;
      left: 14%;
      background-color: #f8f9fa !important;
      border-radius: 0.25rem !important;

      &:hover {
        color: #f34f3f;
      }
    }
    h5 {
      margin-top: 4%;
      font-family: 'Playfair Display', serif;
    }
    p {
      font-family: Lora, serif;
      color: #6d6a6a;
      font-size: 15px;
    }
  }

  .post-content {
    background-color: #fdfbfc;
    padding: 72px 25px 23px;
    text-align: center;
    width: 410px;
    height: 212px;

    h4 {
      color: #2b2b2b;
      font-family: 'Playfair Display', serif;
      font-size: 24px;
    }
    span {
      color: #1b1b1b;
      font-family: Montserrat;
      font-size: 12px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
    .icon {
      position: relative;
      top: 12%;
      display: inline-block;
      left: 33%;
      color: #f2dee2 !important;
      width: 81px;
      height: 108px;
    }
  }
}
.paginaton {
  position: relative;
  bottom: 178px;
}
