#category {
  .container {
    max-width: 1140px;
  }

  margin-top: 60px;

  ul {
    list-style: none;
    display: flex;
    gap: 5%;
    padding: 0px;

    li {
      button {
        border: none;
        background: none;
        text-transform: uppercase;
        -webkit-transition: color 0.3s;
        transition: color 0.3s;
        font-size: 12px;
        letter-spacing: 0.1em;
        color: black;
        cursor: pointer;
        text-decoration: none;
        font-family: Montserrat, sans-serif;
        line-height: 24px;
        font-weight: 400;
      }
    }
  }

  .filter {
    margin-left: 71%;
  }

  .filter-container {
    display: none;
    position: absolute;
    top: 23px;
    right: 0px;

    ul {
      display: block;
      color: #737373;
      font-weight: 500;
      font-family: Lora;
      letter-spacing: 1px;
      margin-top: 15px;
      font-size: 14px;
      line-height: 24px;
    }
    h5 {
      color: #2b2b2b;
      font-family: 'Playfair Display', serif;
      font-weight: 400;
      font-size: 22px;
    }
    .filters {
      background-color: #fff;
      position: absolute;
      width: 424px;
      height: 290px;
      padding: 13px 30px 17px;
      top: 0px;
      right: 15px;
    }
  }
}
