.form-left {
  background-color: #f8f8f8 !important;
  padding-top: 50px !important;
  padding-right: 4% !important;
  padding-bottom: 50px !important;
  padding-left: 4% !important;
  width: 650px;
  height: 620px;
  text-align: center;
  .expert-img {
    width: 154px;
    height: 154px;
  }
  h4 {
    color: #2b2b2b;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 38px;
    margin-top: 18px;
  }
  p {
    font-size: 17px;
    margin-top: 29px;
    font-family: Lora, serif;
    color: #6d6a6a;
  }
  .red-word {
    color: #f34f3f;
  }
  .logo-img {
    margin-top: 3%;
  }
}

.log-reg {
  margin-left: 18px;
  margin-top: 28px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #6c757d;
  padding: 3px;

  a {
    text-decoration: none;
    color: #6c757d;

    &:hover {
      color: #ef3636;
    }
  }
  .user-wrapper {
    position: relative;

    span {
      color: #6c757d;
    }
  }

  &:hover .log-reg {
    display: block;
  }
}

.user-wrapper {
  tab-index: 0;
}
.input-area {
  border-style: none !important;
  margin-bottom: 6%;
  padding: 0px !important;
  button {
    font-size: 12px;
    font-family: Montserrat, sans-serif;
    position: relative;
    top: 10px;
    margin-bottom: 7%;
  }
}
.form-right {
  padding-left: 58px !important;
  h2 {
    color: #2b2b2b;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 38px;
    margin-top: 18px;
  }
  p {
    font-size: 17px;
    margin-top: 29px;
    font-family: Lora, serif;
    color: #6d6a6a;
  }
  input {
    margin-bottom: 3%;
    height: 62px;
  }
  .form-row {
    button {
      margin: 0px !important;
    }
  }
}
